{{>header.html}}

<a class="push-right" href="/">to index</a>
<h1>add</h1>
<form method="post">
<label for="title">Title:</label><br/>
<input type="text" id="title" name="title"/><br/>
<label for="description">Description:</label><br/>
<input type="text" id="description" name="description"/><br/>
<label for="urls">URLs:</label><br/>
<input type="text" id="urls" name="urls"/><br/>
<br/>
<input type="submit" value="Add"/>
</form>
{{#error}}
<p><strong>Error!</strong></p>
{{/error}}

{{>footer.html}}