{{#block_content}}
  <h1>Articles</h1>
  <!-- <a href="/feed">feed</a> -->
  <div>
    <ul>
      {{#articles}}
        <li><a href="/article-collections/{{uuid}}">{{title}}</a></li>
      {{/articles}}
    </ul>
  </div>
{{/block_content}}