{{>header.html}}

<h1>Article Collections</h1>
<a href="/add">add</a> <a href="/tags">tags</a>
<div>
  <ul>
  {{#acos}}
    <li><a href="/article-collections/{{uuid}}">{{title}}</a></li>
  {{/acos}}
  </ul>
</div>
    
{{>footer.html}}