{{#block_content}}
  <h1>Article Collections</h1>
  <a href="/feed">feed</a>
  <div>
    <ul>
      {{#acos}}
        <li><a href="/article-collections/{{uuid}}">{{title}}</a></li>
      {{/acos}}
    </ul>
  </div>
{{/block_content}}